<div id="footer">
  <footer>
    <div class="footer-left">
      Copyright @ <div id="currentYear"><%= @current_year %></div> All Rights Reserved.
    </div>
    <div class="footer-right">
      <%= image_tag("blackbaud-logo-cozy.png", alt: "Blackbaud Logo") %>
    </div>
  </footer>
</div>git